#editor {
    position: absolute;
    top: 0;
    right: 400px;
    bottom: 0;
    left: 250px;
}

#display-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    bottom: 0;
}

.file-list {
    list-style-type: none;
}

.file-list li {
    background: #e6f5fc;
    cursor: default;
}

.file-list li:hover {
    background: #aaaaaa;
}